.card {
  display: flex; /* 이렇게 하면 이름같은 것들이 이미지 옆으로 간다 */
  align-items: center;
  width: 100%;
  background-color: yellow;
  margin-bottom: 0.5em; /* 한덩어리가 조금씩 떨어져 있게됨 */
  border-radius: 1em;
  padding: 0.2em 0;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  max-width: 30rem; /* 너비가 넓어질 수 있는 제약을 준다 */
}

.card.dark {
  background-color: black;
  color: white;
}

.card.light {
  background-color: white;
  color: black;
}

.card.colorful {
  background: linear-gradient(166deg, rgba(237, 193, 211, 1) 0%,rgba(212, 149, 161, 1) 60%, rgba(162, 63, 63, 1) 100%, rgba(127, 188, 242, 1) 100%);
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em; /* 이미지 안쪽으로 패딩 주기 */
  margin-left: 0.5em; /* 이미지 앞쪽에 마진 주기 */
  margin-right: 1em; /* 이미지와 글자 사이에 마진 주기 */
  border-radius: 50%; /* 사진이 네모나도 동그랗게 만들기 */
}

.info {
  width: 100%;
}

/* 이미지 옆에 글자들이 너무 떨어져 있기도 해서... 정리가 필요해 */
.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

/* 구분선이 글자길이 만큼만 그어지니까 끝까지 보내지도록 info에 100%를 먹인다 */
.company::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(
    0.5em
  ); /* 회사와 직책 사이에 선이 중간정도에 오도록 조정함 */
}